<h2>My Heroes</h2>
<ul class="heroes">
  <li *ngFor="let hero of heroes" [class.selected]="hero === selectedHero" (click)="onSelect (hero)">
    <!--ngFor is Angular repeater directive-->
    <span class="badge">{{hero.id}}</span> {{hero.name}}
  </li>
</ul>

<div *ngIf="selectedHero">

  <h2> {{selectedHero.name | uppercase}} Details </h2>
  <!--Formatted to UppercasePipe-->
  <div><span>id: </span>{{selectedHero.id}}</div>
  <!--<div><span>name: </span>{{hero.name}}</div> -->
  <div>
    <label>name:
      <input [(ngModel)]="selectedHero.name" placeholder="name">
      <!--[(ngModel)] is a two way binder-->
      <!--it binds to hero.name property to the HTML textbox so data can flow in both directions-->
      <!--the hero.name property to the textbox, and from the text box back to the hero.name-->
    </label>
  </div>

</div>