<h2>My Heroes</h2>
<ul class="heroes">
  <li *ngFor="let hero of heroes" [class.selected]="hero === selectedHero" (click)="onSelect (hero)">
    <!--ngFor is Angular repeater directive-->
    <span class="badge">{{hero.id}}</span> {{hero.name}}
  </li>
</ul>
<app-hero-detail [hero]="selectedHero"></app-hero-detail>
<!--<h2>{{hero.name}} Details</h2>-->
<!--<div><span>id: </span>{{hero.id}} </div>-->
<!--<div><span>name: </span>{{hero.name}} </div>-->
<!--<div>
  <!--<label>name: -->
<!--    <input [(ngModel)]="hero.name" placeholder="name">-->
<!--  </label>-->
<!--</div>-->
<!--ngModel binds the hero.name prop to the HTML text box so that data can flow in both directions-->
<!--1. from hero.name property to textbox, and 2. from textbox back to hero.name-->
<!--ngModel belongs to the FormsModule, which means that in app.module.ts, you have to import-->
 <!-- (import { FormsModule } from '@angular/forms';) and add it to @NgModule metadata imports array-->
<!-- imports:[BrowserModule, FormsModule] -->